
// Variables
@import 'variables';

$boardDim: 10;
$boardCellSize: 50px;
$boardBorderSize: 40px;
$boardSize: $boardBorderSize*2 + $boardCellSize*$boardDim;
$topTitleHeight: 110px;
$footerHeight: 25px;

a {
    outline: 0;
};

button {
    font-weight: bold;
    background: blue;
    font-size: 16px;
    padding: 5px;
    border: 0;
    outline: 0;
    color: white;
};

body {
    font-family: Helvetica, sans-serif;
};

a {
    text-decoration: none;
};

#checkers_main {
    margin: 0 auto;
    width: 1000px;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
};

#checkers_top {
    height: $topTitleHeight;
    background-color: SaddleBrown;
    text-decoration: none;
};

#checkers_title {
    color: yellow;
    font-size: 60px;
    text-align: center;
    a {
        color: yellow;
    };
    a:active {
        color: yellow;
        text-decoration: none;
    };
    a:hover {
        color: yellow;
        text-decoration: none;
    };
};

#checkers_toppageinfo {
    color: white;
    font-size: 20px;
    text-align: center;
};

#checkers_content {
    color: black;
    background-color: lightgrey;
    position: absolute;
    left: 0px;
    right: 0px;
    top: $topTitleHeight;
    bottom: $footerHeight;
    overflow-y: auto;
};

#checkers_message {
    position: absolute;
    width: 600px;
    bottom: 40px;
    height: 40px;
    border: 2px brown solid;
    background: yellow;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    color: black;
};

#checkers_message.checkers_error_message {
    color: red;
};

.checkers_centered {
    text-align: center;
};

.checkers_subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
};

#checkers_welcome_footer {
    position: absolute;
    font-weight: bold;
    left: 0px;
    right: 0px;
    bottom: 10px;
};

#checkers_footer {
    height: $footerHeight;
    background-color: SaddleBrown;
    color: yellow;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
};

#checkers_logout {
    background-color: #ff0000;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    a {
        color: white;
    };
    a:active {
        color: white;
        text-decoration: none;
        background: #ff4444;
    };
    a:hover {
        color: white;
        text-decoration: none;
        background: #ff2222;
    };
};

#checkers_logout:active {
    background: #ff4444;
};

#checkers_logout:hover {
    background: #ff2222;
};

.checkers_mainpage {
    margin: 100px 20px 100px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
};

.checkers_mainbutton, button {
    padding: 5px 5px 5px 5px;
    background-color: blue;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
    a {
        color: white;
    };
    a:active {
        color: white;
        text-decoration: none;
        border: 0;
    };
    a:hover {
        color: white;
        text-decoration: none;
    };
};

.checkers_form, .checkers_maintable, .checkers_data {
    margin: 100px 20px 15px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    table {
        position: relative;
        left: 100px;
        right: 100px;
        width: 800px;
        text-align: right;
        input {
            width: 620px;
        };

        td.data {
            text-align: left;
        };
    };
    .checkers_row_button {
        text-align: center;
    };
};

.checkers_data {
    margin-top: 30px;
    table {
        border: 1px black solid;
    };
    table td {
        padding: 4px;
    };
};

.checkers_maintable {
    margin-top: 30px;
};

.checkers_form_errors {
    text-align: center;
    color: red;
    font-size: 15px;
    font-weight: bold;
};

.checkers_error {
    color: red;
    font-weight: bold;
};

.checkers_maintable {
    font-weight: normal;
    table {
        text-align: left;
        border: 1px black solid;
        border-collapse: collapse;
        td {
            border: 1px black solid;
            padding: 2px;
        };
        th {
            font-weight: bold;
            border: 1px black solid;
            padding: 2px;
        };
    };
};

.checkers_buttons {
    margin-bottom: 15px;
};

#checkers_commentform {
    textarea {
        width: 750px;
    };
};

#checkers_comments {
    text-align: left;
    .comment_info {
        color: #333333;
        margin-left: 3px;
        margin-right: 3px;
    };
    .comment_content {
        border: 1px solid black;
        margin: 3px;
        background: #eeeeee;
    };
};

.checkers_button {
    display: inline-block;
    color: white;
    cursor: pointer;
    font-weight: normal;
    background: blue;
    padding: 3px;
    a {
        color: white;
    };
    a:active {
        color: white;
        text-decoration: none;
        border: 0;
    };
    a:hover {
        color: white;
        text-decoration: none;
    };
};

.checkers_button:hover, .checkers_mainbutton:hover, button:hover {
    background: #2222ff;
    outline: 0;
};

.checkers_button:active, .checkers_mainbutton:active, button:active {
    background: #4444ff;
    outline: 0;
};

.checkers_comment_dolike {
    display: inline-block;
    color: white;
    background: blue;
    cursor: pointer;
};

.checkers_comment_dolike:hover {
    background: #2222ff;
};
.checkers_comment_dolike:active {
    background: #4444ff;
};

#checkers_game_title {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
};

#checkers_game_side {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
};

#checkers_board {
    position: absolute;
    left: 100px;
    top: 50px;
    width: $boardSize;
    height: $boardSize;
    background: orange;
};

#checkers_board_main {
    position: absolute;
    width: $boardDim*$boardCellSize;
    height: $boardDim*$boardCellSize;
    background: white;
    left: $boardBorderSize;
    top: $boardBorderSize;
};

.checkers_axis {
    position: absolute;
    color: black;
};

#checkers_yaxis_left {
    top: $boardBorderSize;
    left: 0px;
    width: $boardBorderSize;
    height: $boardCellSize*$boardDim;
};

#checkers_yaxis_right {
    top: $boardBorderSize;
    left: $boardBorderSize + $boardCellSize*$boardDim;
    width: $boardBorderSize;
    height: $boardCellSize*$boardDim;
};

#checkers_xaxis_top {
    top: 0px;
    left: $boardBorderSize;
    width: $boardCellSize*$boardDim;
    height: $boardBorderSize;
};

#checkers_xaxis_bottom {
    top: $boardBorderSize + $boardCellSize*$boardDim;
    left: $boardBorderSize;
    width: $boardCellSize*$boardDim;
    height: $boardBorderSize;
};

.checkers_board_row {
    position: absolute;
    width: $boardCellSize*$boardDim;
    height: $boardCellSize;
    margin: 0px;
    padding: 0px;
};

.checkers_board_cell {
    position: absolute;
    width: $boardCellSize;
    height: $boardCellSize;
    margin: 0px;
    padding: 0px;
};

.checkers_board_cell_black {
    background: brown;
};

.checkers_board_cell_white {
    background: yellow;
};

.checkers_yaxis_ypos {
    padding-top: 10px;
    position: absolute;
    width: $boardBorderSize;
    height: $boardCellSize;
    left: 0px;
    text-align: center;
    vertical-align: middle;
};

.checkers_xaxis_xpos {
    padding-top: 10px;
    position: absolute;
    width: $boardCellSize;
    height: $boardBorderSize;
    top: 0px;
    text-align: center;
    vertical-align: middle;
};

.checkers_board_cell0_in_row, .checkers_xaxis_xpos0 {
    left: $boardCellSize*0;
};
.checkers_board_cell1_in_row, .checkers_xaxis_xpos1 {
    left: $boardCellSize*1;
};
.checkers_board_cell2_in_row, .checkers_xaxis_xpos2 {
    left: $boardCellSize*2;
};
.checkers_board_cell3_in_row, .checkers_xaxis_xpos3 {
    left: $boardCellSize*3;
};
.checkers_board_cell4_in_row, .checkers_xaxis_xpos4 {
    left: $boardCellSize*4;
};
.checkers_board_cell5_in_row, .checkers_xaxis_xpos5 {
    left: $boardCellSize*5;
};
.checkers_board_cell6_in_row, .checkers_xaxis_xpos6 {
    left: $boardCellSize*6;
};
.checkers_board_cell7_in_row, .checkers_xaxis_xpos7 {
    left: $boardCellSize*7;
};
.checkers_board_cell8_in_row, .checkers_xaxis_xpos8 {
    left: $boardCellSize*8;
};
.checkers_board_cell9_in_row, .checkers_xaxis_xpos9 {
    left: $boardCellSize*9;
};
.checkers_board_cell10_in_row, .checkers_xaxis_xpos10 {
    left: $boardCellSize*10;
};
.checkers_board_cell10_in_row, .checkers_xaxis_xpos11 {
    left: $boardCellSize*11;
};

#checkers_board_row0, .checkers_yaxis_ypos0 {
    top: $boardCellSize*($boardDim - 1);
};
#checkers_board_row1, .checkers_yaxis_ypos1 {
    top: $boardCellSize*($boardDim - 2);
};
#checkers_board_row2, .checkers_yaxis_ypos2 {
    top: $boardCellSize*($boardDim - 3);
};
#checkers_board_row3, .checkers_yaxis_ypos3 {
    top: $boardCellSize*($boardDim - 4);
};
#checkers_board_row4, .checkers_yaxis_ypos4 {
    top: $boardCellSize*($boardDim - 5);
};
#checkers_board_row5, .checkers_yaxis_ypos5 {
    top: $boardCellSize*($boardDim - 6);
};
#checkers_board_row6, .checkers_yaxis_ypos6 {
    top: $boardCellSize*($boardDim - 7);
};
#checkers_board_row7, .checkers_yaxis_ypos7 {
    top: $boardCellSize*($boardDim - 8);
};
#checkers_board_row8, .checkers_yaxis_ypos8 {
    top: $boardCellSize*($boardDim - 9);
};
#checkers_board_row9, .checkers_yaxis_ypos9 {
    top: $boardCellSize*($boardDim - 10);
};
#checkers_board_row10, .checkers_yaxis_ypos10 {
    top: $boardCellSize*($boardDim - 11);
};
#checkers_board_row11, .checkers_yaxis_ypos11 {
    top: $boardCellSize*($boardDim - 2);
};

#checkers_movelist {
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
    top: 50px;
    left: 100px + 10px + $boardSize;
    width: 200px;
    height: $boardSize;
    background: #eeeeee;
    overflow-y: auto;
};

.checkers_move_white {
    color: gray;
};
.checkers_move_black {
    color: black;
};

#checkers_gamestatus {
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
    top: 50px + 20px + $boardSize;
    left: 100px;
    width: $boardSize + 10px + 200px;
    height: 30px;
    background: #eeeeee;
};

#checkers_replay_control {
    position: absolute;
    padding-top: 3px;
    text-align: center;
    top: 50px + 30px + 20px + $boardSize;
    left: 100px;
    background: cyan;
    width: $boardSize + 10px + 200px;
    height: 30px;
};

.checkers_board_piece {
    position: absolute;
    width: $boardCellSize;
    height: $boardCellSize;
};

.checkers_board_men_white {
    background: url('../png/men-white.png');
};

.checkers_board_men_black {
    background: url('../png/men-black.png');
};

.checkers_board_king_white {
    background: url('../png/king-white.png');
};

.checkers_board_king_black {
    background: url('../png/king-black.png');
};

.checkers_board_choosen {
    filter: alpha(opacity=50);
    opacity: 0.5;
};
