
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#checkers_main {
    margin: 0 auto;
    width: 1000px;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
};

#checkers_top {
    height: 160px;
    background-color: SaddleBrown;
};

#checkers_title {
    color: yellow;
    font-size: 70px;
    text-align: center;
    a {
        color: yellow;
    };
    a:active {
        color: yellow;
        text-decoration: none;
    };
    a:hover {
        color: yellow;
        text-decoration: none;
    };
};

#checkers_toppageinfo {
    color: white;
    font-size: 20px;
    text-align: center;
};

#checkers_content {
    color: black;
    background-color: lightgrey;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 160px;
    bottom: 30px;
    text-align: center;
    overflow-y: auto;
};

#checkers_footer {
    height: 30px;
    background-color: SaddleBrown;
    color: yellow;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
};

#checkers_logout {
    background-color: red;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    a {
        color: white;
    };
    a:active {
        color: white;
        text-decoration: none;
    };
    a:hover {
        color: white;
        text-decoration: none;
    };
};

.checkers_mainpage {
    margin: 100px 20px 100px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
};

.checkers_mainbutton {
    padding: 5px 5px 5px 5px;
    background-color: blue;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    a {
        color: white;
    };
    a:active {
        color: white;
        text-decoration: none;
    };
    a:hover {
        color: white;
        text-decoration: none;
    };
};

.checkers_form, .checkers_maintable, .checkers_data {
    margin: 100px 20px 15px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    table {
        position: relative;
        left: 100px;
        right: 100px;
        width: 800px;
        text-align: right;
        input {
            width: 620px;
        };

        td.data {
            text-align: left;
        };
    };
    .checkers_row_button {
        text-align: center;
    };
};

.checkers_data {
    margin-top: 30px;
    table {
        border: 1px black solid;
    };
    table td {
        padding: 4px;
    };
};

.checkers_maintable {
    margin-top: 30px;
};

.checkers_form_errors {
    color: red;
    font-size: 15px;
    font-weight: bold;
};

.checkers_maintable {
    font-weight: normal;
    table {
        text-align: left;
        border: 1px black solid;
        border-collapse: collapse;
        td {
            border: 1px black solid;
            padding: 2px;
        };
        th {
            font-weight: bold;
            border: 1px black solid;
            padding: 2px;
        };
    };
};

.checkers_buttons {
    margin-bottom: 15px;
};

#checkers_commentform {
    textarea {
        width: 750px;
    };
};

#checkers_comments {
    text-align: left;
    .comment_info {
        color: #333333;
        margin-left: 3px;
        margin-right: 3px;
    };
    .comment_content {
        border: 1px solid black;
        margin: 3px;
        background: #eeeeee;
    };
};

.checkers_button {
    display: inline-block;
    color: white;
    cursor: pointer;
    font-weight: normal;
    background: blue;
    padding: 3px;
};

.checkers_comment_dolike {
    display: inline-block;
    color: white;
    background: blue;
    cursor: pointer;
};

#checkers_board {
    position: absolute;
    left: 100px;
    top: 20px;
    width: 480px;
    height: 480px;
    background: orange;
};

#checkers_board_main {
    position: absolute;
    left: 100px;
    width: 400px;
    height: 400px;
    background: yellow;
    left: 40px;
    top: 40px;
};

.checkers_axis {
    position: absolute;
    color: black;
};

#checkers_yaxis_left {
    top: 40px;
    left: 0px;
    width: 40px;
    height: 400px;
};

#checkers_yaxis_right {
    top: 40px;
    left: 440px;
    width: 40px;
    height: 400px;
};

#checkers_xaxis_top {
    top: 0px;
    left: 40px;
    width: 400px;
    height: 40px;
};

#checkers_xaxis_bottom {
    top: 440px;
    left: 40px;
    width: 400px;
    height: 40px;
};

.checkers_board_row {
    position: absolute;
    width: 400px;
    height: 40px;
    margin: 0px;
    padding: 0px;
};

.checkers_board_cell {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
};
.checkers_board_cell_black {
    background: brown;
};

.checkers_board_cell_white {
    background: yellow;
};

.checkers_yaxis_ypos {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
};

.checkers_xaxis_xpos {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    text-align: center;
    vertical-align: middle;
};

#checkers_movelist {
    position: absolute;
    top: 20px;
    left: 600px;
    width: 200px;
    height: 500px;
    background: #eeeeee;
};

#checkers_gamestatus {
    position: absolute;
    top: 540px;
    left: 100px;
    width: 700px;
    height: 30px;
    background: #eeeeee;
};
