
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#checkers_main {
    margin: 0 auto;
    width: 1000px;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
};

#checkers_top {
    height: 160px;
    background-color: SaddleBrown;
};

#checkers_title {
    color: yellow;
    font-size: 70px;
    text-align: center;
};

#checkers_toppageinfo {
    color: white;
    font-size: 20px;
    text-align: center;
};

#checkers_content {
    color: black;
    background-color: lightgrey;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 160px;
    bottom: 30px;
    text-align: center;
};

#checkers_footer {
    height: 30px;
    background-color: SaddleBrown;
    color: yellow;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
};

#checkers_logout {
    background-color: red;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    a {
        color: white;
    };
    a:active {
        color: white;
        text-decoration: none;
    };
    a:hover {
        color: white;
        text-decoration: none;
    };
};

.checkers_mainpage {
    margin: 100px 20px 100px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
};

.checkers_mainbutton {
    padding: 5px 5px 5px 5px;
    background-color: blue;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    a {
        color: white;
    };
    a:active {
        color: white;
        text-decoration: none;
    };
    a:hover {
        color: white;
        text-decoration: none;
    };
};

.checkers_form {
    margin: 100px 20px 100px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    table {
        position: relative;
        left: 100px;
        right: 100px;
        width: 800px;
        text-align: right;
        input {
            width: 620px;
        };
    };
    .checkers_row_button {
        text-align: center;
    };
};

.checkers_form_errors {
    color: red;
    font-size: 15px;
    font-weight: bold;
};

